.design-card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    user-select: none;
}
.design-card__body {
    position: relative;
}
.design-card__img {
    width: 100%;
}
.design-card__title {
    position: absolute;
    top: 40px;
    left: 11px;
    max-width: 138px;
    font-family: 'HeadingNow';
    font-style: normal;
    font-weight: 500;
    font-size: 29.0098px;
    line-height: 88%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #383838;
}

.design-card[data-design="1"] .design-card__title {
    color: #FFFFFF;
}
.design-card[data-design="2"] .design-card__title {
    color: #FF85B2;
}
.design-card[data-design="3"] .design-card__title {
    color: #FFFFFF;
}

@media (min-width: 375px) {
    .design-card {
        border-radius: 12px;
    }

    .design-card__title {
        top: 40px;
        left: 13px;
        max-width: 154px;
    font-weight: 400;
    font-size: 31px;
}
}

@media (min-width: 450px) {
    .design-card {
        border-radius: 15px;
    }

    .design-card__title {
        top: 60px;
        left: 16px;
        max-width: 215px;
        font-weight: 400;
        font-size: 43px;
    }
}
