.main-page {
    padding-top: 118px;
    padding-bottom: 224px;
    position: relative;
    z-index: 2;
}

.main__container {
    position: relative;
    z-index: 10;
}

.main-page__text {
    margin-bottom: 20px;
    max-width: 281px;
}

.main__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -.03em;
    color: #343537;
    text-align: center;
}

.main__pre-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -.02em;
    color: #727272;
    text-align: center;
}

.main__pre-title > span {
    color: #2C2C2C;
}

.main__button {
    margin-bottom: 43px;
}

.main__button .my-button__icon-wrap {
    margin-right: 9px;
}

.main__reposts {
    margin-bottom: 16px;
}

.reposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    max-width: 125px;
}

.reposts__counter {
    display: flex;
    gap: 3px;
    box-shadow: 0 0 0 0.5px #ADADAF;
    border-radius: 160px;
    padding: 2px;
    max-width: 106px;
    width: 100%;
    align-items: center;
    position: relative;
    background: #FCFCFC;
}

.reposts__counter::before {
    content: '';
    height: 8px;
    width: 8px;
    background: #E8FF21;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 10;
}

.reposts__imgs {
    display: flex;
    position: relative;
}

.reposts__img-wrap {
    border: 1px solid #FFFFFF;
    overflow: hidden;
    max-height: 22px;
    max-width: 22px;
    border-radius: 50%;
}

.reposts__img-wrap:not(:first-child) {
    margin-left: -6px;
}

.reposts__img-wrap:nth-child(1) {
    z-index: 4;
}

.reposts__img-wrap:nth-child(2) {
    z-index: 3;
}

.reposts__img-wrap:nth-child(3) {
    z-index: 2;
}

.reposts__img-wrap:nth-child(4) {
    z-index: 1;
}

.reposts__img {
    object-fit: cover;
    width: 100%;
}

.reposts__count-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -.04em;
    color: #777777;
}

.reposts__count {}

.reposts__text {
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -.02em;
    color: #727272;
    text-align: center;
}

.main__background-images {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden
}

.main__background-images > * {
    position: absolute
}

.main__pink-bottle-img {
    top: -35px;
    left: -38px;
    transform: rotate(21.45deg);
    position: absolute;
    width: 100px;
    height: 298px
}

.main__blue-ball-img {
    position: absolute;
    top: -69px;
    left: 65%;
    height: 196px;
    z-index: 5
}

.main__bag-img {
    bottom: -45px;
    right: -149px;
    width: 312px;
    height: 312px
}

.main__card-img {
    bottom: -73px;
    left: -3px;
    transform: rotate(9.07deg);
    height: 290px;
    width: 163px;
    border-radius: 12px;
    box-shadow: 0 13.23px 39.68px 0 rgba(45, 45, 45, .15)
}

@media (min-width: 375px) {
    .main-page {
        padding-top: 143px;
        padding-bottom: 293px;
    }

    .main-page__text {
        margin-bottom: 25px;
        max-width: 320px;
    }

    .main__title {
        font-size: 46px;
        line-height: 48px;
        margin-bottom: 20px;
    }
    
    .main__pre-title {
        font-size: 14px;
        line-height: 17px;
    }

    .main__button {
        margin-bottom: 40px;
    }
    
    .main__button .my-button__icon-wrap {
        margin-right: 11px;
    }
    
    .main__reposts {
        margin-bottom: 31px;
    }

    .reposts {
        max-width: 159px;
    }

    .reposts__counter {
        gap: 4px;
        box-shadow: 0 0 0 0.6px #ADADAF;
        max-width: 122px;
    }
    
    .reposts__counter::before {
        content: '';
        height: 10px;
        width: 10px;
        left: 2px;
    }
    
    .reposts__img-wrap {
        max-height: 26px;
        max-width: 26px;
        position: relative;
    }

    .reposts__img-wrap:not(:first-child) {
        margin-left: -9px;
    }

    .reposts__img {
        width: 110%;
        position: relative;
        bottom: 5px;
    }
    
    .reposts__count-text {
        font-size: 11px;
    }

    .reposts__text {
        font-size: 10px;
        line-height: 10px;
    }

    .main__pink-bottle-img {
        width: 117px;
        height: 346px
    }

    .main__blue-ball-img {
        height: 223px;
    }

    .main__bag-img {
        bottom: -45px;
        right: -218px;
        width: 416px;
        height: 416px;
    }
    
    .main__card-img {
        bottom: -109px;
        left: -17px;
        height: 392px;
        width: 208px
    }
}

@media (min-width: 450px) {
    .main-page {
        padding-top: 192px;
        padding-bottom: 357px;
    }

    .main-page__text {
        margin-bottom: 29px;
        max-width: 400px;
    }

    .main__title {
        font-size: 58px;
        line-height: 62px;
        margin-bottom: 29px;
    }
    
    .main__pre-title {
        font-size: 18px;
        line-height: 21px;
    }

    .main__button {
        margin-bottom: 65px;
    }
    
    .main__button .my-button__icon-wrap {
        margin-right: 14px;
    }
    
    .main__reposts {
        margin-bottom: 48px;
    }

    .reposts {
        gap: 8px;
        max-width: 189px;
    }

    .reposts__counter {
        gap: 5px;
        box-shadow: 0 0 0 0.9px #ADADAF;
        padding: 3px;
        max-width: 158px;
    }
    
    .reposts__counter::before {
        content: '';
        height: 12px;
        width: 12px;
        left: 2px;
    }
    
    .reposts__img-wrap {
        max-height: 33px;
        max-width: 33px;
        position: relative;
    }

    .reposts__img-wrap:not(:first-child) {
        margin-left: -9px;
    }

    .reposts__img {
        width: 118%;
        position: relative;
        bottom: 9px;
        right: 2px;
    }
    
    .reposts__count-text {
        font-size: 13px;
        line-height: 1.2;
    }

    .reposts__text {
        font-size: 12px;
        line-height: 12px;
    }

    .main__pink-bottle-img {
        width: 137px;
        height: 446px;
        left: -51px;
    }
    
    .main__blue-ball-img {
        top: -81px;
        height: 279px;
    }
    
    .main__bag-img {
        bottom: -45px;
        right: -226px;
        width: 458px;
        height: 458px
    }
    
    .main__card-img {
        bottom: -109px;
        left: -17px;
        height: 430px;
        width: 237px;
    }
}

@media (min-height: 700px) {
    .main-page {
        padding-top: 120px;
        padding-bottom: 252px
    }

    .main-page__text {
        max-width: 358px
    }

    .main__pre-title {
        font-size: 16px;
        line-height: 18px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 120px;
        height: 305px;
        left: -31px;
        top: -33px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 318px;
        right: -139px;
        width: 341px;
        height: 342px
    }

    .main__card-img {
        top: 447px;
        left: -1px;
        height: 282px;
        width: 163px
    }
}

@media (min-height:645px) and (max-height:699px) {
    .main-page {
        padding-top: 119px;
        padding-bottom: 194px
    }

    .main-page__text {
        max-width: 345px
    }

    .main__pre-title {
        font-size: 16px;
        line-height: 17px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 117px;
        height: 310px;
        top: -37px;
        left: -46px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 318px;
        right: -139px;
        width: 341px;
        height: 342px
    }

    .main__card-img {
        top: 437px;
        left: -1px;
        height: 282px;
        width: 163px
    }
}

@media (min-height:550px) and (max-height:644px) {
    .main-page {
        padding-top: 133px;
        padding-bottom: 144px
    }

    .main-page__text {
        max-width: 297px;
        margin-bottom: 16px
    }

    .main__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 12px
    }

    .main__pre-title {
        font-size: 12px;
        line-height: 14px
    }

    .main__button {
        margin-bottom: 31px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 120px;
        height: 305px;
        left: -37px;
        top: -26px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 319px;
        right: -99px;
        width: 254px;
        height: 254px
    }

    .main__card-img {
        top: 450px;
        left: 3px;
        height: 191px;
        width: 116px
    }
}

@media (max-height:549px) {
    .main-page {
        padding-top: 125px;
        padding-bottom: 118px
    }

    .main-page__text {
        max-width: 297px;
        margin-bottom: 16px
    }

    .main__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 12px
    }

    .main__pre-title {
        font-size: 12px;
        line-height: 14px
    }

    .main__button {
        margin-bottom: 31px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 109px;
        height: 289px;
        left: -35px;
        top: -18px
    }

    .main__blue-ball-img {
        height: 230px;
        top: -70px
    }

    .main__bag-img {
        top: 281px;
        right: -99px;
        width: 254px;
        height: 254px
    }

    .main__card-img {
        top: 403px;
        left: 3px;
        height: 191px;
        width: 116px
    }
}

