/* ZERO STYLES */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Suisseinl-Book";  
    src: url("../fonts/suisseintl-book.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/MyCustomFont-Regular.woff2') format('woff2');
    font-weight: 400; /* Regular */
    font-style: normal;
}

/* Подключение среднего начертания (font-weight: 500) */
@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/MyCustomFont-Medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: "HeadingNow";  
    src: url("../fonts/HeadingNow-35Medium.otf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";  
    src: url("../fonts/Manrope-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500;
}

html,
body {
    height: 100%;
    font-family: 'Suisseinl-Book';
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    letter-spacing: .0em;
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #292929;
    cursor: pointer;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

img,
iframe {
    vertical-align: bottom;
}

input {
    outline: none;
}
input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

.main {
    flex: 1 0 auto;
}

.main > * {
    height: 100%;
}

.content {
    padding-top: 54px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 375px) {
    .content {
        padding-top: 62px;
        padding-bottom: 48px;
    }
}

@media (min-width: 450px) {
    .content {
        padding-top: 71px;
        padding-bottom: 53px;
    }
}

@media (min-height: 700px) and (min-resolution: 192dpi) {
    .content {
        padding-top: 41px;
        padding-bottom: 76px;
    }
}

@media (min-height:645px) and (max-height:699px) and (min-resolution: 192dpi) {
    .content {
        padding-top: 41px;
        padding-bottom: 21px;
    }
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.constructor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-title {
    font-size: 25px;
    line-height: 35px;
    font-weight: 450;
    letter-spacing: -.06em;
    color: #343537;
}

@media (min-width: 375px) {
    .inner-title {
        font-size: 25px;
        line-height: 30px;
    }
}

@media (min-width: 450px) {
    .inner-title {
        font-size: 31px;
        line-height: 37px;
    }
}

.swiper-pagination-bullet {
    background: #D9D9D9;
    opacity: 1;
    height: 6px;
    width: 6px;
}

.swiper-pagination-bullet:not(:last-child) {
    margin: 0px 5px 0px 0px!Important;
}

.swiper-pagination-bullet:last-child {
    margin: 0px!Important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000;
}

@media (min-width: 375px) {
    .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
    }
    .swiper-pagination-bullet:not(:last-child) {
        margin: 0px 6px 0px 0px!Important;
    }
}

@media (min-width: 450px) {
    .swiper-pagination-bullet {
        height: 9px;
        width: 9px;
    }
    .swiper-pagination-bullet:not(:last-child) {
        margin: 0px 7px 0px 0px!Important;
    }
}

.float-animation {
    animation: 2s ease-in-out infinite float
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-5px)
    }
}

.name-page__my-input.invalid {
    border-color: red;
    box-shadow: 0 0 5px red
}

.validation-field {
    display: inline-block;
    color: red;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 15px;
}
