.my-container,
body,
html {
    display: flex;
    flex-direction: column
}

*,
::after,
::before,
ol,
ul {
    padding: 0;
    margin: 0
}

.main>*,
.wrapper,
body,
html {
    height: 100%
}

.text-card,
a,
button {
    cursor: pointer
}

.desktop-block__text,
.main__pre-title,
.main__title,
.my-button__text,
.reposts__text,
.text,
.text-card__inner {
    text-align: center
}

*,
::after,
::before {
    border: 0;
    box-sizing: border-box
}

@font-face {
    font-family: Suisseinl-Book;
    src: url("../fonts/suisseintl-book.ttf") format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: MyCustomFont;
    src: url('fonts/MyCustomFont-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: MyCustomFont;
    src: url('fonts/MyCustomFont-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: HeadingNow;
    src: url("../fonts/HeadingNow-35Medium.otf") format("truetype");
    font-style: normal;
    font-weight: 500
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500
}

body,
html {
    font-family: Suisseinl-Book;
    font-size: 12px;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
    letter-spacing: 0;
    background: #fafafa
}

p {
    margin-bottom: 0
}

a {
    text-decoration: none;
    color: #292929
}

iframe,
img {
    vertical-align: bottom
}

input,
input:focus {
    outline: 0
}

.my-container {
    align-items: center;
    padding: 0 20px;
    overflow-x: hidden
}

.content,
.wrapper {
    display: flex;
    flex-direction: column
}

.wrapper {
    overflow-x: hidden;
    overflow-y: visible
}

.main {
    flex: 1 0 auto
}

.content {
    padding-top: 54px;
    padding-bottom: 46px;
    align-items: center;
    width: 100%
}

.constructor,
.text {
    display: flex;
    flex-direction: column
}

.constructor {
    align-items: center
}

.inner-title {
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -.06em;
    color: #343537
}

.swiper-pagination-bullet {
    background: #d9d9d9;
    opacity: 1;
    height: 6px;
    width: 6px
}

.swiper-pagination-bullet:not(:last-child) {
    margin: 0 5px 0 0 !important
}

.swiper-pagination-bullet:last-child {
    margin: 0 !important
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #000
}

.name-page__my-input.invalid {
    border-color: red;
    box-shadow: 0 0 5px red
}

.validation-field {
    display: inline-block;
    color: red;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 15px
}

.main-page {
    padding-top: 118px;
    padding-bottom: 224px;
    position: relative;
    z-index: 2
}

.main__container {
    position: relative;
    z-index: 10
}

.main-page__text {
    margin-bottom: 20px;
    max-width: 281px
}

.main__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -.03em;
    color: #343537
}

.main__pre-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -.02em;
    color: #727272
}

.main__pre-title>span {
    color: #2c2c2c
}

.main__button {
    margin-bottom: 43px
}

.main__button .my-button__icon-wrap {
    margin-right: 9px
}

.main__reposts,
.result-page__constructor {
    margin-bottom: 16px
}

.reposts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    max-width: 125px
}

.reposts__counter {
    display: flex;
    gap: 3px;
    box-shadow: 0 0 0 .5px #adadaf;
    border-radius: 160px;
    padding: 2px;
    max-width: 106px;
    width: 100%;
    align-items: center;
    position: relative;
    background: #fcfcfc
}

.my-button,
.my-button:focus .my-button__icon-wrap,
.my-button:hover .my-button__icon-wrap {
    background: #e8ff21 !important
}

.reposts__counter::before {
    content: '';
    height: 8px;
    width: 8px;
    background: #e8ff21;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 10
}

.reposts__imgs {
    display: flex;
    position: relative
}

.reposts__img-wrap {
    border: 1px solid #fff;
    overflow: hidden;
    max-height: 22px;
    max-width: 22px;
    border-radius: 50%
}

.reposts__img-wrap:not(:first-child) {
    margin-left: -6px
}

.reposts__img-wrap:first-child {
    z-index: 4
}

.reposts__img-wrap:nth-child(2) {
    z-index: 3
}

.reposts__img-wrap:nth-child(3) {
    z-index: 2
}

.reposts__img-wrap:nth-child(4) {
    z-index: 1
}

.reposts__img {
    object-fit: cover;
    width: 100%
}

.reposts__count-text {
    font-size: 9px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -.04em;
    color: #777
}

.reposts__text {
    font-size: 8px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: -.02em;
    color: #727272
}

.main__background-images {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    overflow: hidden
}

.main__background-images>* {
    position: absolute
}

.main__pink-bottle-img {
    top: -35px;
    left: -38px;
    transform: rotate(21.45deg);
    position: absolute;
    width: 100px;
    height: 298px
}

.main__blue-ball-img {
    position: absolute;
    top: -69px;
    left: 65%;
    height: 196px;
    z-index: 5
}

.design-card__body,
.header {
    position: relative
}

.main__bag-img {
    bottom: -45px;
    right: -149px;
    width: 312px;
    height: 312px
}

.main__card-img {
    bottom: -73px;
    left: -3px;
    transform: rotate(9.07deg);
    height: 290px;
    width: 163px;
    border-radius: 12px;
    box-shadow: 0 13.23px 39.68px 0 rgba(45, 45, 45, .15)
}

@media (min-width:375px) {
    .content {
        padding-top: 62px;
        padding-bottom: 48px
    }

    .inner-title {
        font-size: 29px;
        line-height: 37px
    }

    .swiper-pagination-bullet {
        height: 7px;
        width: 7px
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin: 0 6px 0 0 !important
    }

    .main-page {
        padding-top: 143px;
        padding-bottom: 293px
    }

    .main-page__text {
        margin-bottom: 25px;
        max-width: 320px
    }

    .main__title {
        font-size: 46px;
        line-height: 48px;
        margin-bottom: 20px
    }

    .main__pre-title {
        font-size: 14px;
        line-height: 17px
    }

    .main__button {
        margin-bottom: 38px
    }

    .main__button .my-button__icon-wrap {
        margin-right: 11px
    }

    .main__reposts {
        margin-bottom: 31px
    }

    .reposts {
        max-width: 159px
    }

    .reposts__counter {
        gap: 4px;
        box-shadow: 0 0 0 .6px #adadaf;
        max-width: 122px
    }

    .reposts__counter::before {
        content: '';
        height: 10px;
        width: 10px;
        left: 2px
    }

    .reposts__img-wrap {
        max-height: 26px;
        max-width: 26px;
        position: relative
    }

    .reposts__img-wrap:not(:first-child) {
        margin-left: -9px
    }

    .reposts__img {
        width: 110%;
        position: relative;
        bottom: 5px
    }

    .reposts__count-text {
        font-size: 11px
    }

    .reposts__text {
        font-size: 10px;
        line-height: 10px
    }

    .main__pink-bottle-img {
        width: 117px;
        height: 346px
    }

    .main__blue-ball-img {
        height: 223px
    }

    .main__bag-img {
        bottom: -45px;
        right: -218px;
        width: 416px;
        height: 416px
    }

    .main__card-img {
        bottom: -109px;
        left: -17px;
        height: 392px;
        width: 208px
    }
}

@media (min-width:450px) {
    .main-page {
        padding-top: 192px;
        padding-bottom: 357px
    }

    .main-page__text {
        margin-bottom: 29px;
        max-width: 400px
    }

    .main__title {
        font-size: 58px;
        line-height: 62px;
        margin-bottom: 29px
    }

    .main__pre-title {
        font-size: 18px;
        line-height: 21px
    }

    .main__button {
        margin-bottom: 65px
    }

    .main__button .my-button__icon-wrap {
        margin-right: 14px
    }

    .main__reposts {
        margin-bottom: 48px
    }

    .reposts {
        gap: 8px;
        max-width: 189px
    }

    .reposts__counter {
        gap: 5px;
        box-shadow: 0 0 0 .9px #adadaf;
        padding: 3px;
        max-width: 158px
    }

    .reposts__counter::before {
        content: '';
        height: 12px;
        width: 12px;
        left: 2px
    }

    .reposts__img-wrap {
        max-height: 33px;
        max-width: 33px;
        position: relative
    }

    .reposts__img-wrap:not(:first-child) {
        margin-left: -9px
    }

    .reposts__img {
        width: 118%;
        position: relative;
        bottom: 9px;
        right: 2px
    }

    .reposts__count-text {
        font-size: 13px;
        line-height: 1.2
    }

    .reposts__text {
        font-size: 12px;
        line-height: 12px
    }

    .main__pink-bottle-img {
        width: 137px;
        height: 446px;
        left: -51px
    }

    .main__blue-ball-img {
        top: -81px;
        height: 279px
    }

    .main__bag-img {
        bottom: -45px;
        right: -226px;
        width: 458px;
        height: 458px
    }

    .main__card-img {
        bottom: -109px;
        left: -17px;
        height: 430px;
        width: 237px
    }
}

@media (min-height:700px) and (min-resolution: 192dpi) {
    .main-page {
        padding-top: 120px;
        padding-bottom: 252px
    }

    .main-page__text {
        max-width: 358px
    }

    .main__pre-title {
        font-size: 16px;
        line-height: 18px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 120px;
        height: 305px;
        left: -31px;
        top: -33px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 318px;
        right: -139px;
        width: 341px;
        height: 342px
    }

    .main__card-img {
        top: 447px;
        left: -1px;
        height: 282px;
        width: 163px
    }
}

@media (min-height:645px) and (max-height:699px) and (min-resolution: 192dpi) {
    .main-page {
        padding-top: 119px;
        padding-bottom: 194px
    }

    .main-page__text {
        max-width: 345px
    }

    .main__pre-title {
        font-size: 16px;
        line-height: 17px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 117px;
        height: 310px;
        top: -37px;
        left: -46px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 318px;
        right: -139px;
        width: 341px;
        height: 342px
    }

    .main__card-img {
        top: 437px;
        left: -1px;
        height: 282px;
        width: 163px
    }
}

@media (min-height:550px) and (max-height:644px) and (min-resolution: 192dpi) {
    .main-page {
        padding-top: 133px;
        padding-bottom: 144px
    }

    .main-page__text {
        max-width: 297px;
        margin-bottom: 16px
    }

    .main__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 12px
    }

    .main__pre-title {
        font-size: 12px;
        line-height: 14px
    }

    .main__button {
        margin-bottom: 31px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 120px;
        height: 305px;
        left: -37px;
        top: -26px
    }

    .main__blue-ball-img {
        height: 249px;
        top: -91px
    }

    .main__bag-img {
        top: 319px;
        right: -99px;
        width: 254px;
        height: 254px
    }

    .main__card-img {
        top: 450px;
        left: 3px;
        height: 191px;
        width: 116px
    }
}

@media (max-height:549px) {
    .main-page {
        padding-top: 125px;
        padding-bottom: 118px
    }

    .main-page__text {
        max-width: 297px;
        margin-bottom: 16px
    }

    .main__title {
        font-size: 40px;
        line-height: 42px;
        margin-bottom: 12px
    }

    .main__pre-title {
        font-size: 12px;
        line-height: 14px
    }

    .main__button {
        margin-bottom: 31px
    }

    .main__reposts {
        margin-bottom: 15px
    }

    .main__pink-bottle-img {
        width: 109px;
        height: 289px;
        left: -35px;
        top: -18px
    }

    .main__blue-ball-img {
        height: 230px;
        top: -70px
    }

    .main__bag-img {
        top: 281px;
        right: -99px;
        width: 254px;
        height: 254px
    }

    .main__card-img {
        top: 403px;
        left: 3px;
        height: 191px;
        width: 116px
    }
}

.header {
    padding-top: 29px;
    margin: 0 auto;
    z-index: 1
}

.logo-wrap {
    height: 8px
}

.logo {
    height: 100%;
    width: auto
}

@media (min-width:374px) {
    .header {
        padding-top: 33px;
        margin: 0 auto;
        position: relative;
        z-index: 1
    }

    .logo-wrap {
        height: 9px
    }
}

@media (min-width:427px) {
    .header {
        padding-top: 42px;
        margin: 0 auto;
        position: relative;
        z-index: 1
    }

    .logo-wrap {
        height: 11px
    }
}

.main__card-img_rotate {
    transform: rotate(9.07deg);
    animation: 2s ease-in-out infinite float-card-img
}

.main__pink-bottle-img_rotate {
    transform: rotate(21.45deg);
    animation: 2s ease-in-out infinite float-pink-bottle-img
}

.result-page__jump-rope-img_rotate {
    transform: rotate(8.58deg);
    animation: 2s ease-in-out infinite float-jump-rope-img
}

.result-page__pink-bottle-img {
    animation: 2s ease-in-out infinite float-result-page-pink-bottle-img
}

.float {
    animation: 2s ease-in-out infinite float
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-5px)
    }
}

@keyframes float-pink-bottle-img {

    0%,
    100% {
        transform: translateY(0) rotate(21.45deg)
    }

    50% {
        transform: translateY(-5px) rotate(21.45deg)
    }
}

@keyframes float-jump-rope-img {

    0%,
    100% {
        transform: translateY(0) rotate(8.58deg)
    }

    50% {
        transform: translateY(-5px) rotate(8.58deg)
    }
}

@keyframes float-card-img {

    0%,
    100% {
        transform: translateY(0) rotate(9.07deg)
    }

    50% {
        transform: translateY(-5px) rotate(9.07deg)
    }
}

@keyframes float-result-page-pink-bottle-img {

    0%,
    100% {
        transform: translateY(0) rotate(9.07deg)
    }

    50% {
        transform: translateY(-5px) rotate(9.07deg)
    }
}

.design-card {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    user-select: none
}

.design-card__img {
    width: 100%
}

.design-card__title {
    position: absolute;
    top: 40px;
    left: 11px;
    max-width: 138px;
    font-family: HeadingNow;
    font-style: normal;
    font-weight: 500;
    font-size: 29.0098px;
    line-height: 88%;
    letter-spacing: -.01em;
    text-transform: uppercase;
    color: #383838
}

.design-card[data-design="1"] .design-card__title {
    color: #1957a4
}

.design-card[data-design="2"] .design-card__title,
.design-card[data-design="5"] .design-card__title {
    color: #ffe3e9
}

.design-card[data-design="3"] .design-card__title {
    color: #fff
}

.design-card[data-design="4"] .design-card__title,
.design-card[data-design="7"] .design-card__title {
    color: #121212
}

.design-card[data-design="6"] .design-card__title {
    color: #ffabca
}

.back-button,
.my-button {
    display: flex;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -.02em;
    text-transform: lowercase
}

.my-button {
    align-items: center;
    width: 190px;
    max-height: 34px;
    padding: 3px;
    font-family: Manrope;
    font-weight: 500;
    color: #000;
    border-radius: 1000px;
    box-shadow: 0 8px 24px 0 #2d2D2D26;
    position: relative
}

.back-button {
    align-items: center;
    color: #727272;
    background: 0 0;
    margin-top: 10px
}

.my-input,
.my-select {
    font-family: Manrope;
    letter-spacing: -.02em;
    color: #343537
}

.my-button:focus,
.my-button:hover,
.my-button__icon-wrap {
    background: #fcfcfc !important
}

.my-button__icon-wrap {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    position: relative
}

.design-slider__slide.swiper-slide-active,
.my-input,
.my-select {
    background: #fcfcfc
}

.my-button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.my-button__text {
    display: block;
    width: 70%
}

.custom-select-wrapper,
.my-input,
.my-select {
    width: 100%;
    max-width: 460px
}

.my-input {
    font-size: 18px;
    line-height: 20px;
    padding: 11px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(45, 45, 45, .15);
    border-radius: 10px
}

.my-input::placeholder {
    color: #d3d3d3
}

.custom-select-wrapper {
    position: relative;
    display: inline-block
}

.my-select {
    font-size: 18px;
    line-height: 20px;
    padding: 11px 30px 11px 11px;
    border: none;
    box-shadow: 0 8px 24px 0 rgba(45, 45, 45, .15);
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #343537
}

@media (min-width:375px) {
    .design-card {
        border-radius: 12px
    }

    .design-card__title {
        top: 50px;
        left: 13px;
        max-width: 176px;
        font-weight: 400;
        font-size: 36px
    }

    .my-button {
        width: 250px;
        max-height: 42px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 1200px;
        box-shadow: 0 10px 27px 0 rgba(45, 45, 45, .15)
    }

    .back-button {
        font-size: 11px;
        line-height: 16px;
        margin-top: 12px
    }

    .my-button__icon-wrap {
        height: 35px;
        width: 35px;
        margin-right: 10px
    }

    .my-button__icon {
        width: 12px
    }

    .my-input,
    .my-select {
        font-size: 19px;
        line-height: 22px;
        padding: 15px 13px;
        box-shadow: 0 10px 27px 0 rgba(45, 45, 45, .15);
        border-radius: 12px
    }

    .custom-arrow {
        right: 22px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #343537
    }
}

@media (min-width:430px) {
    .content {
        padding-top: 71px;
        padding-bottom: 53px
    }

    .inner-title {
        font-size: 36px;
        line-height: 40px
    }

    .swiper-pagination-bullet {
        height: 9px;
        width: 9px
    }

    .swiper-pagination-bullet:not(:last-child) {
        margin: 0 7px 0 0 !important
    }

    .design-card {
        border-radius: 15px
    }

    .design-card__title {
        top: 60px;
        left: 16px;
        max-width: 215px;
        font-weight: 400;
        font-size: 43px
    }

    .my-button {
        width: 290px;
        max-height: 51px;
        font-size: 15px;
        line-height: 15px;
        border-radius: 1500px;
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15)
    }

    .back-button {
        font-size: 12px;
        line-height: 21px;
        margin-top: 15px
    }

    .my-button__icon-wrap {
        height: 42px;
        width: 42px;
        margin-right: 10px
    }

    .my-button__icon {
        width: 14px
    }

    .my-input,
    .my-select {
        font-size: 21px;
        line-height: 24px;
        padding: 20px 16px;
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15);
        border-radius: 15px
    }

    .custom-arrow {
        right: 26px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 9px solid #343537
    }
}

.design-page__my-input,
.desktop-block,
.text-page__my-input {
    display: none
}

@media (min-width:481px) {
    .desktop-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1b1919;
        z-index: 1000
    }
}

.design-slider__swiper-pagination,
.loader-wrap {
    position: relative
}

.desktop-block__container {
    display: flex;
    flex-direction: column
}

.desktop-block__logo {
    width: 200px;
    zoom: 1.005;
    margin-bottom: 30px
}

.desktop-block__text {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: -.5px;
    margin-bottom: 16px
}

.desktop-block__icon-wrap {
    width: 43px;
    zoom: 1.005
}

.desktop-block__icon {
    width: 100%
}

.design-page__text {
    margin-bottom: 48px
}

.design-page__constructor {
    margin-bottom: 60px;
    overflow: visible
}

.design-slider {
    overflow: visible
}

.design-slider__swiper {
    width: 176px;
    overflow: visible
}

.design-slider__swiper-wrapper {
    margin-bottom: 24px
}

.design-slider__slide {
    height: 300px;
    border-radius: 18px;
    padding: 8px
}

.design-slider__card {
    box-shadow: none !important
}

.design-slider__slide.swiper-slide-active,
.text-page__design-card {
    box-shadow: 0 8px 24px 0 rgba(45, 45, 45, .15)
}

.my-button__icon-wrap {
    margin-right: 5px
}

.loading-page__container {
    height: 100%;
    padding: 163px 0 48px
}

.loading-page__loader {
    margin-bottom: 5px
}

.loader-wrap {
    display: flex;
    flex-direction: column;
    align-items: center
}

.loader-wrap__text {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -.06em;
    color: #343537;
    order: 1
}

.loader-wrap__loader {
    width: 50%;
    height: 1px;
    background-color: #969696;
    position: absolute;
    animation: .7s ease-in-out infinite moveLoader;
    order: 2;
    bottom: -10px
}

.loading-page__img-wrap {
    max-height: 367px;
    max-width: 367px
}

.loading-page__img {
    height: 100%;
    width: auto
}

@keyframes moveLoader {

    0%,
    100% {
        left: 0;
        transform: translateX(0)
    }

    50% {
        left: 100%;
        transform: translateX(-100%)
    }
}

.name-page__text {
    max-width: 220px
}

.name-page__constructor {
    padding-top: 81px;
    padding-bottom: 319px;
    width: 100%
}

.text-page__text {
    margin-bottom: 18px
}

.text-page__constructor {
    margin-bottom: 40px
}

.text-page__slider {
    margin-bottom: 32px;
    max-width: 127px;
    overflow: visible
}

.text-slider__swiper {
    width: 100%;
    height: 100%;
    overflow: visible
}

.text-slider__slide.swiper-slide-active>.text-card {
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 0 8px 24px 0 rgba(45, 45, 45, .15);
    padding: 9px 5px 12px
}

.text-card {
    max-width: 127px;
    padding: 9px 0 12px;
    user-select: none
}

.text-card__text {
    font-family: Manrope;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -.02em
}

.text-page__design-card-container {
    max-width: 172px
}

.result-page {
    position: relative;
    z-index: 1
}

.result-page__content {
    padding-top: 98px;
    padding-bottom: 85px
}

.result-page__design-card-wrap {
    padding: 11px;
    background-color: #fff;
    border-radius: 13px;
    width: 224px;
    height: 380px
}

.result-page__design-card {
    max-width: 201px;
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0 8px 26px 0 rgba(45, 45, 45, .15)
}

.result-page__design-card-img {
    width: 100%
}

.result-page__link {
    width: 139px;
    z-index: 7
}

.result-page__link:not(:last-child) {
    margin-bottom: 10px
}

.result-page__link .my-button__text {
    display: block;
    width: 60%;
    text-align: center
}

.result-page__jump-rope-img {
    max-height: 110px
}

.result-page__blue-ball-img {
    max-height: 165px
}

.result-page__dumbbells-img {
    max-height: 85px;
    bottom: 148px
}

.result-page__background-imgs {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: hidden
}

.result-page__background-imgs>* {
    position: absolute;
    z-index: 5
}

.result-page__jump-rope-img {
    width: 110px;
    height: 110px;
    top: 10px;
    left: -47px;
    transform: rotate(8.58deg);
    position: absolute
}

.result-page__blue-ball-img {
    top: 10px;
    left: 66.7%;
    height: 165px
}

.result-page__dumbbells-img {
    width: 92px;
    height: 91px;
    top: 395px;
    left: -28px
}

.result-page__pink-bottle-img {
    max-height: 203px;
    height: 203px;
    bottom: -68px;
    right: 10px;
    transform: rotate(14.65deg)
}

@media (min-width:375px) {
    .design-page__text {
        margin-bottom: 72px
    }

    .design-page__constructor {
        margin-bottom: 83px
    }

    .design-slider__swiper {
        width: 215px
    }

    .design-slider__swiper-wrapper {
        margin-bottom: 28px
    }

    .design-slider__slide {
        height: 368px;
        border-radius: 23px;
        padding: 10px
    }

    .design-slider__slide.swiper-slide-active {
        background: #fcfcfc;
        box-shadow: 0 10px 27px 0 rgba(45, 45, 45, .15)
    }

    .loading-page__container {
        padding: 215px 0 57px
    }

    .loading-page__loader {
        margin-bottom: 7px
    }

    .loader-wrap__text {
        font-size: 29px;
        line-height: 37px
    }

    .loading-page__img-wrap {
        max-height: 428px;
        max-width: 428px
    }

    .name-page__text {
        max-width: 260px
    }

    .name-page__constructor {
        padding-top: 82px;
        padding-bottom: 368px
    }

    .text-page__text {
        margin-bottom: 25px
    }

    .text-page__constructor {
        margin-bottom: 56px
    }

    .text-page__slider {
        margin-bottom: 41px;
        max-width: 158px
    }

    .text-slider__slide.swiper-slide-active>.text-card {
        border-radius: 12px;
        box-shadow: 0 10px 27px 0 rgba(45, 45, 45, .15);
        padding: 10px 5px 14px
    }

    .text-card {
        max-width: 158px;
        padding: 10px 0 14px
    }

    .text-card__text {
        font-size: 13px;
        line-height: 16px
    }

    .text-page__design-card-container {
        max-width: 212px
    }

    .text-page__design-card {
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15)
    }

    .result-page__content {
        padding-top: 125px;
        padding-bottom: 61px
    }

    .result-page__constructor {
        margin-bottom: 19px
    }

    .result-page__design-card-wrap {
        padding: 14px;
        border-radius: 23px;
        width: 281px;
        height: 480px
    }

    .result-page__design-card {
        max-width: 262px;
        border-radius: 13px;
        box-shadow: 0 11px 32px 0 rgba(45, 45, 45, .15)
    }

    .result-page__link {
        width: 174px
    }

    .result-page__jump-rope-img {
        max-height: 181px;
        width: 152px;
        height: 152px;
        top: -6px;
        left: -63px
    }

    .result-page__blue-ball-img {
        top: 10px;
        left: 67%;
        height: 209px;
        max-height: 261px
    }

    .result-page__dumbbells-img {
        width: 127px;
        height: 126px;
        top: 476px;
        left: -58px;
        max-height: none
    }

    .result-page__pink-bottle-img {
        height: 260px;
        bottom: -71px;
        right: -10px;
        max-height: none
    }
}

@media (min-width:430px) {
    .design-page__text {
        margin-bottom: 95px
    }

    .design-page__constructor {
        margin-bottom: 99px
    }

    .design-slider__swiper {
        width: 264px
    }

    .design-slider__swiper-wrapper {
        margin-bottom: 34px
    }

    .design-slider__slide {
        height: 450px;
        border-radius: 27px;
        padding: 12px
    }

    .design-slider__slide.swiper-slide-active {
        background: #fcfcfc;
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15)
    }

    .loading-page__container {
        padding: 244px 0 72px
    }

    .loading-page__loader {
        margin-bottom: 10px
    }

    .loader-wrap__text {
        font-size: 36px;
        line-height: 40px
    }

    .loading-page__img-wrap {
        max-height: 550px;
        max-width: 550px
    }

    .name-page__text {
        max-width: 312px
    }

    .name-page__constructor {
        padding-top: 85px;
        padding-bottom: 420px
    }

    .text-page__text {
        margin-bottom: 39px
    }

    .text-page__constructor {
        margin-bottom: 75px
    }

    .text-page__slider {
        margin-bottom: 47px;
        max-width: 184px
    }

    .text-slider__slide.swiper-slide-active>.text-card {
        border-radius: 15px;
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15);
        padding: 13px 5px 18px
    }

    .text-card {
        max-width: 184px;
        padding: 13px 0 18px;
        user-select: none;
        cursor: pointer
    }

    .text-card__text {
        font-size: 15px;
        line-height: 18px
    }

    .text-page__design-card-container {
        max-width: 258px
    }

    .text-page__design-card {
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, .15)
    }

    .result-page__content {
        padding-top: 147px;
        padding-bottom: 128px
    }

    .result-page__constructor {
        margin-bottom: 23px
    }

    .result-page__design-card-wrap {
        padding: 16px;
        border-radius: 27px;
        width: 335px;
        height: 570px
    }

    .result-page__design-card {
        max-width: 301px;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 13px 39px 0 rgba(45, 45, 45, .15)
    }

    .result-page__link {
        width: 208px
    }

    .result-page__jump-rope-img {
        max-height: 181px;
        width: 181px;
        height: 181px;
        top: -6px;
        left: -83px
    }

    .result-page__blue-ball-img {
        top: 10px;
        left: 66.7%;
        height: 261px;
        max-height: 261px
    }

    .result-page__dumbbells-img {
        width: 157px;
        height: 156px;
        top: 562px;
        left: -81px;
        max-height: none
    }

    .result-page__pink-bottle-img {
        height: 341px;
        bottom: -71px;
        right: -10px;
        max-height: none
    }
}