.my-button {
    display: flex;
    align-items: center;
    width: 190px;
    max-height: 34px;
    padding: 3px;
    font-family: 'Manrope';
    background: #F96072 !important;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: -.02em;
    color: #FCFCFC;
    text-transform: lowercase;
    border-radius: 1000px;
    box-shadow: 0 8px 24px 0 #2d2D2D26;
    position: relative
}
.back-button {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #727272;
    text-transform: lowercase;
    background: transparent;
    margin-top: 10px;
}
.my-button__icon-wrap {
    height: 28px;
    width: 28px;
    background: #fcfcfc !important;
    border-radius: 50%;
    position: relative;
    margin-right: 5px
}

.my-button:hover, .my-button:focus {
    background: #fcfcfc !important;
    color: #F96072;
}

.my-button:hover .my-button__icon-wrap, .my-button:focus .my-button__icon-wrap {
    background: #F96072 !important;
}
.my-button__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my-button__text {
    display: block;
    width: 70%;
    text-align: center;
}

@media (min-width: 375px) {
    .my-button {
        width: 250px;
        max-height: 42px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 1200px;
        box-shadow: 0 10px 27px 0 rgba(45, 45, 45, 0.15);
    }
    .back-button {
        font-size: 11px;
        line-height: 16px;
        margin-top: 10px;
    }
    .my-button__icon-wrap {
        height: 35px;
        width: 35px;
        margin-right: 10px
    }
    .my-button__icon {
        width: 12px;
    }
}

@media (min-width: 450px) {
    .my-button {
        width: 290px;
        max-height: 51px;
        font-size: 15px;
        line-height: 15px;
        border-radius: 1500px;
        box-shadow: 0 12px 36px 0 rgba(45, 45, 45, 0.15);
    }
    .back-button {
        font-size: 12px;
        line-height: 21px;
        margin-top: 13px;
    }
    .my-button__icon-wrap {
        height: 42px;
        width: 42px;
        margin-right: 10px
    }
    .my-button__icon {
        width: 14px;
    }
}

/* .my-button::before {
    content: '';
    display: inline-block;
    height: 28px;
    width: 28px;
    position: relative;
    background: #E8FF21;
    border-radius: 50%;
    margin-right: 9px;
}
.my-button::after {
    content: url('../../imgs/button/lightning.svg');
    position: absolute;
    left: 11px;
} */
