.main__loading {}

.loading-page {}

.loading-page__container {
    height: 100%;
    padding: 163px 0px 48px 0px;
}

.loading-page__loader {
    margin-bottom: 5px;
}

.loader-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loader-wrap__text {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: -.06em;
    color: #343537;
    order: 1;
}

.loader-wrap__loader {
    width: 50%;
    height: 1px;
    background-color: #969696;
    position: absolute;
    animation: moveLoader .7s infinite ease-in-out;
    order: 2;
    bottom: -10px;
    z-index: 20;
}

.loading-page__img-wrap {
    max-height: 193px;
    max-width: 335px;
}

.loading-page__img {
    height: 100%;
    width: auto;
}

@keyframes moveLoader {

    0%,
    100% {
        left: 0%;
        transform: translateX(0);
    }

    50% {
        left: 100%;
        transform: translateX(-100%);
    }
}

@media (min-width: 375px) {
    .loading-page__container {
        padding: 104px 0px 57px 0px;
    }

    .loading-page__loader {
        margin-bottom: 7px;
    }

    .loader-wrap__text {
        font-size: 29px;
        line-height: 37px;
    }
}

@media (min-width: 450px) {
    .loading-page__container {
        padding: 244px 0px 72px 0px;
    }

    .loading-page__loader {
        margin-bottom: 10px;
    }

    .loader-wrap__text {
        font-size: 36px;
        line-height: 40px;
    }

    .loading-page__img-wrap {
        max-width: 550px;
    }
}

@media (min-height: 700px) and (min-resolution: 192dpi) {
    .loading-page__container {
        padding: 104px 0px 130px 0px;
    }
}

@media (min-height:645px) and (max-height:699px)  {
    .loading-page__container {
        padding: 104px 0px 75px 0px;
    }
}

@media (max-height:644px) {
    .loading-page__container {
        padding: 75px 0px 20px 0px;
    }
}
